<div id="<%= dom_id round %>">
  <p>
    <strong>Number:</strong>
    <%= round.number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= round.name %>
  </p>

  <p>
    <strong>Draw at:</strong>
    <%= round.draw_at %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= round.size %>
  </p>

  <p>
    <strong>Minister:</strong>
    <%= round.minister %>
  </p>

  <p>
    <strong>Crs:</strong>
    <%= round.crs %>
  </p>

  <p>
    <strong>Tie breaking at:</strong>
    <%= round.tie_breaking_at %>
  </p>

</div>
