<div id="rounds" class="section">
  <div class="columns is-desktop">
    <div class="column is-8 is-offset-2">
      <h2 class="title is-size-4">🇨🇦 Express Entry Rounds</h2>
      <div class="content">
        <p class="is-size-5">
          Keep refreshing IRCC's webpage is bad for your health. Subscribe to receive notifications when a new round is announced.
        </p>
      </div>
      <%= render 'ios_warning' %>
      <div
        id="subscribe-to-rounds"
        class="mb-4"
        data-controller="subscription"
        data-subscription-vapid-public-key-value="<%= Base64.urlsafe_decode64(Rails.application.credentials.dig(:webpush, :public_key)).bytes %>"
        data-subscription-subscribed-value="false"
      >
        <%= button_tag(
          'Subscribe to notifications',
          class: 'button is-success',
          data: {
            'subscription-target': 'button',
            action: 'click->subscription#toggleSubscription'
          })
        %>
      </div>
      <div class="table-container">
        <%= datagrid_table @grid, html: { class: 'table is-striped is-hoverable is-fullwidth' } %>
      </div>
      <%= paginate @grid.assets, window: 2 %>

    </div>
  </div>
</div>
