<!DOCTYPE html>
<html>
  <head>
    <title>Calmmigration</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="<%= asset_path('logo.png') %>">
    <link rel="apple-touch-startup-image" href="<%= asset_path('logo.png') %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://kit.fontawesome.com/4335c2f54b.js" crossorigin="anonymous"></script>

    <script>
      window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.credentials.dig(:webpush, :public_key)).bytes %>)
    </script>
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G22KQW9X6M"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-G22KQW9X6M');
  </script>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://calmigration.ca">
          <%= image_tag 'logo.png', class: 'mr-2' %>
          <span class="is-size-4">Calmmigration</span>
        </a>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Calmmigration</strong> by <a href="https://github.com/kevinluo201">kevinluo201</a>. The source code is licensed
          <%= link_to 'MIT', 'https://github.com/kevinluo201/calmmigration/blob/main/LICENSE' %>.
        </p>
        <div class="links">
          <%= link_to 'https://github.com/kevinluo201/calmmigration', target: '_blank' do %>
            <span class="icon">
              <i class="fa-brands fa-github fa-2xl"></i>
            </span>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/kevinluo201/', class: 'ml-3 mr-3', target: '_blank' do %>
            <span class="icon">
              <i class="fa-brands fa-linkedin fa-2xl"></i>
            </span>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/kevinluo201/', target: '_blank' do %>
            <span class="icon">
              <i class="fa-brands fa-x-twitter fa-2xl"></i>
            </span>
          <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
