<!DOCTYPE html>
<html>
  <head>
    <title>Calmmigration</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Calmmigration checks IRCC website frequently and send you notification when new Express Entry round is announced. You just need to keep calm and wait for notifications.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="<%= asset_path('webapp-icon.png') %>">
    <link rel="apple-touch-startup-image" href="<%= asset_path('webapp-icon.png') %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if controller.action_name == 'trends' %>
      <%= vite_client_tag %>
      <%= vite_javascript_tag 'application.jsx' %>
    <% else %>
      <%= javascript_importmap_tags %>
    <% end %>

    <script src="https://kit.fontawesome.com/4335c2f54b.js" crossorigin="anonymous"></script>

    <script>
      window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.credentials.dig(:webpush, :public_key)).bytes %>)
    </script>
  </head>

  <% if Rails.env.production? %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G22KQW9X6M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G22KQW9X6M');
    </script>
  <% end %>

  <body>
    <%= render 'shared/header' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
